<div>
    <div id="outer">
        <div id="middle">
            <div class="login-panel">
                <div class="gui-panel gui-panel-default">
                    <div class="gui-panel-heading">
                        <h3 class="gui-panel-title">Panel title</h3>
                    </div>
                    <div class="gui-panel-body">
                        <form action="#">
                            <button type="button">hello</button>
                        </form>
                    </div>
                    <div class="gui-panel-footer">Panel footer</div>
                </div>
            </div>
        </div>
    </div>
</div>
