<div>
    <div id="outer">
        <div class="login-panel">
            <div class="gui-panel gui-panel-default">
                <div class="gui-panel-heading">
                    <img src="assets/images/logo_cr_l.png"/>
                </div>
                <div class="gui-panel-body">
                    <form action="#">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <label for="username">用户名</label>
                                    </td>
                                    <td>
                                        <input id="username" type="text"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="password">密<span class="hidden">密</span>码</label>
                                    </td>
                                    <td>
                                        <input id="password" type="password"/>
                                    </td>
                                </tr>
                                <tr class="none">
                                    <td colspan="2" style="text-align: right;">
                                        <span class="error"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="gui-panel-footer">
                    <button id="loginBtn" type="button" class="gui-btn gui-btn-primary">登 陆</button>
                    <button id="resetPasswordBtn" type="button" class="gui-btn gui-btn-primary">密码找回</button>
                </div>
            </div>
        </div>
    </div>
</div>
