/**
 * User: guoyao
 * Time: 07-26-2013 12:07
 * Blog: http://www.guoyao.me
 */
/**
 * User: guoyao
 * Time: 07-26-2013 13:47
 * Blog: http://www.guoyao.me
 */
ul.grace-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.grace-nav a {
  min-width: 100px;
  padding: 6px 10px;
  display: block;
  text-align: center;
  background-color: #eeeeee;
  width: auto !important;
  width: 100px;
  white-space: nowrap;
}
ul.grace-nav a:hover {
  background-color: #d5d5d5;
}
ul.grace-nav > li {
  float: left;
}
ul.grace-nav li:hover > ul {
  display: block;
}
ul.grace-nav ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.grace-nav ul li {
  _display: inline;
  position: relative;
}
ul.grace-nav ul li ul {
  position: absolute;
  top: 0;
  left: 120px;
}
