@theme-color:   #f5f5f5;

@nav-theme-color:   #46629E;

@logo-large-height:   43px;

@border-weight:   1px;
@border-type:   solid;
@border-color:    #d1d1d1;
@border-radius:   4px;

@margin:    6px;
@padding:   6px;

@error-text-color:    #cc0000;
@font-size:   14px;

@report-panel-body-height:   300px;