<div>
    <div class="grid-medium">
        <div class="row-medium">
            <div class="span7-medium">
                <div class="gui-panel gui-panel-default">
                    <div class="gui-panel-heading">
                        <h3 class="gui-panel-title">昨日销售报告</h3>
                    </div>
                    <div class="gui-panel-body report-panel-body">
                        昨日销售报告...
                    </div>
                </div>
            </div>
            <div class="span5-medium">
                <div class="gui-panel gui-panel-default">
                    <div class="gui-panel-body user-panel-body">
                        用户信息、天气信息等...
                    </div>
                </div>
                <div class="gui-panel gui-panel-default">
                    <div class="gui-panel-heading">
                        <h3 class="gui-panel-title">系统信息</h3>
                    </div>
                    <div class="gui-panel-body system-panel-body">
                        系统信息...
                    </div>
                </div>
            </div>
        </div>
        <div class="row-medium">
            <div class="span12-medium">
                <div class="gui-panel gui-panel-default">
                    <div class="gui-panel-heading">
                        <h3 class="gui-panel-title">零售客单价&客单数趋势</h3>
                    </div>
                    <div class="gui-panel-body report-panel-body">
                        零售客单价&客单数趋势...
                    </div>
                </div>
            </div>
        </div>
        <div class="row-medium">
            <div class="span12-medium">
                <div class="gui-panel gui-panel-default">
                    <div class="gui-panel-heading">
                        <h3 class="gui-panel-title">年至今及上年同期占比</h3>
                    </div>
                    <div class="gui-panel-body report-panel-body">
                        年至今及上年同期占比...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>