<div>
    <div class="row-medium">
        <div class="span12-medium">
            <ul class="gui-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">综合分析</a>
                    <ul>
                        <li><a href="#">指标达成情况（采购）</a></li>
                        <li><a href="#">指标达成情况（营运）</a></li>
                        <li><a href="#">门店异常分析</a></li>
                        <li><a href="#">品类异常分析</a></li>
                    </ul>
                </li>
                <li><a href="#">销售</a>
                    <ul>
                        <li><a href="#">销售分析</a></li>
                        <li><a href="#">毛利分析</a></li>
                        <li><a href="#">综合收益（采购）</a></li>
                        <li><a href="#">通道收益（采购）</a></li>
                        <li><a href="#">通道收益（营运）</a></li>
                    </ul>
                </li>
                <li><a href="#">库存</a>
                    <ul>
                        <li><a href="#">库存周转分析</a></li>
                        <li><a href="#">库存配置</a></li>
                    </ul>
                </li>
                <li><a href="#">门店分析</a>
                    <ul>
                        <li><a href="#">门店对比</a></li>
                        <li><a href="#">门店对标</a></li>
                    </ul>
                </li>
                <li><a href="#">节假日分析</a>
                    <ul>
                        <li><a href="#">销售分析</a></li>
                        <li><a href="#">库存分析</a></li>
                        <li><a href="#">单品销售排名</a></li>
                        <li><a href="#">类别销售排名</a></li>
                    </ul>
                </li>
                <li><a href="#">排名分析</a>
                    <ul>
                        <li><a href="#">门店销售排名</a></li>
                        <li><a href="#">单品销售排名</a></li>
                        <li><a href="#">品类组销售排名</a></li>
                        <li><a href="#">类别销售排名</a></li>
                        <li><a href="#">供应商销售排名</a></li>
                        <li><a href="#">品牌售排名</a></li>
                    </ul>
                </li>
                <li><a href="#">品类分析</a>
                    <ul>
                        <li><a href="#">价格带分析</a></li>
                    </ul>
                </li>
                <li><a href="#">会员分析</a>
                    <ul>
                        <li><a href="#">会员发展分析</a></li>
                        <li><a href="#">会员消费分析</a></li>
                        <li><a href="#">会员类别分析</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>